.storageButton {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #333;
    background: #F9F9F9;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-top: 20px;
    text-align: center;
}

.storageButton:hover {
    background: #333;
    color: #FFF;
}
