.trashModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    min-width: 450px;
}

.trashModalContent {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentWrapper {
    max-height: 80vh;
    overflow-y: auto;
}

.trashModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
